<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <%= javascriptTag('resources/js/index.js').file %>
</head>
<body>
    <%= title %> <br>
    <%= description %> <br>

    <% for(var i = 0; i < items.length; ++i) { %>
        <div class="card">
            <h3>
                <%= items[i].title %> <br>
            </h3>
            <p>
                <%= items[i].description %> <br>
            </p>
            <img src="<%= items[i].image %>" alt="">
            <a href="<%= items[i].saveFrom %>" target="_blank">SaveFrom</a>

            <% if (items[i].audio) { %>
                <a href="<%= items[i].audio %>" target="_blank">Audio</a>
                <audio controls src="<%= items[i].audio %>"></audio>
            <% } %>
        </div>
    <% } %>
</body>
</html>
